<aside class="title">
  <h1>{{model.capitalized}}</h1>
</aside>

<section class="inner">
  <aside class="product-slider">
    {{#slick-slider dots=true arrows=false speed=600 autoplay=true autoplaySpeed=3000}}

      {{#each model.slides as |index|}}
        <figure>
          <img src="/images/product-slides/{{model.lowercase}}/{{index}}.JPG">
        </figure>
      {{/each}}

    {{/slick-slider}}
  </aside>

  <aside class="details">
    {{#if kaminöfen}}
      <h2>Die Allrounder.</h2>
      <p>Aus Gusseisen oder Stahlblech gefertigt, hat oft Scheiben für freie Sicht in den Feuerraum und gibt die Wärmeenergie teils in Form von Strahlung, teils per Konvektion unmittelbar an den Raum ab.</p>
      <p>Effizient und trotzdem platzsparend, kompakt und leicht.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Ideal für Gelegenheitsanwendung. Die effizientesten Kaminöfen erreichen Wirkungsgrade von mehr als 80 %.</p>
    {{else if speicheröfen}}
      <h2>Die Sparsamen.</h2>
      <p>Die beim Holzabbrand frei werdende Wärme wird von einem (meist keramischen) schweren Speicherkern aufgenommen.</p>
      <p>Nach dem Holzabbrand gibt dieser Kern die gespeicherte Energie während langer Zeit über die Oberfläche des Speicherofens in Form von Wärmestrahlung gleichmäßig ab.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Spart Heizkosten und wärmt den Raum auch nach der Befeuerung.</p>
    {{else if kachelöfen}}
      <h2>Die Allrounder.</h2>
      <p>Kachelöfen sind mittels ihrer großzügig bemessenen eigenen Masse dazu in der Lage, die beim Verfeuern von schnell abbrennenden Festbrennstoffen kurzzeitig anfallende große Wärmeenergiemenge erst aufzunehmen und anschließend über einen längeren Zeitraum in den zu beheizenden Raum abzugeben.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Wandelbar. Individuelle Gestaltung je nach Raumsituation möglicht.</p>
    {{else if heizkamine}}
      <h2>Der Hit mit Feuersicht.</h2>
      <p>Heizkamine verfügen über eine mehr oder weniger große Glasscheibe, über welche man den Abbrand beobachten kann. Die Strahlungswärme wird direkt durch die Frontscheibe an den Raum abgegeben.</p>
      <p>Hierdurch geht im Vergleich zu anderen Öfen viel weniger Wärme "verloren", jedoch bietet der Heizkamin auch nicht die besten Speicherkapazitäten.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Wohngefühl steht im Mittelpunkt.</p>
    {{else if herde}}
      <h2>Lebensraum Küche.</h2>
      <p>Nach Wunsch bieten wir Ihnen nicht nur Herde, die auf elektronische Weise betrieben werden, sondern auch solche, deren Herdplatte direkt mit Holz erhitzt werden können.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Koche und Heizen in einem. Und auf natürlich Weize dazu!</p>
    {{else if zubehör}}
      <h2>Rundum versorgt.</h2>
      <p>Auf Anfrage bieten wir Ihnen neben der Installation Ihres eigenen Ofens auch das entsprechende Zubehör an, um Ihn ordnungsgemäß zu betreiben und pflegen.</p>
      <p>Das Angebot reicht von simplem Ofenbesteck, über diverse Reinigungsmittel bis hin zur Vermittlung von Heizmaterial (Brennholz, Briketts, Peletts oder Holzkohle).</p>
    {{/if}}

    {{#link-to "contact" class="bottom-button"}}Beratung anfordern{{/link-to}}
  </aside>
</section>
