<aside class="title">
  <h1>{{model.capitalized}}</h1>
</aside>

<section class="inner">
  <aside class="product-slider">
    {{#slick-slider dots=true arrows=false}}
      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>

      <figure>
        <img src="/images/slide-one-md.png">
      </figure>
    {{/slick-slider}}
  </aside>

  <aside class="details">
    {{#if kaminöfen}}
      <h2>Die Allrounder.</h2>
      <p>Effizient und trotzdem platzsparend, kompakt und leicht.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Ideal für Gelegenheitsanwendung.</p>
    {{else if speicheröfen}}
      <h2>Die Sparsamen.</h2>
      <p>Speichert Wärme (Strahlungswärme) im Material und gibt sie konstant und gleichmäßig ab.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Spart Heizkosten.</p>
    {{else if kachelöfen}}
      <h2>Die Allrounder.</h2>
      <p>Individuelle Gestaltung je nach Raumsituation möglicht.</p>
      <h2>Spezielle Merkmale</h2>
      <p>Wandelbar.</p>
    {{else if heizkamine}}
      <h2>Der Hit mit Feuersicht.</h2>
      <p>Wohngefühl steht im Mittelpunkt.</p>
    {{else if herde}}
      <h2>Lebensraum Küche.</h2>
      <p>Kochen und Heizen auf natürlich Weise.</p>
    {{else if zubehör}}
      <h2>Rundum versorgt.</h2>
      <p>Auf Anfrage bieten wir Ihnen neben der Installation Ihres eigenen Ofens auch das entsprechende Zubehör an, um Ihn ordnungsgemäß zu betreiben und pflegen.</p>
    {{/if}}

    {{#link-to "contact" class="bottom-button"}}Beratung anfordern{{/link-to}}
  </aside>
</section>
