{{#slick-slider autoplay=true autoplaySpeed=5000 speed=2000 arrows=false dots=true fade=true}}
  {{#each model as |index|}}
    <div class="box">
      <picture>
        <source srcset="images/slide-{{index}}-md.jpg 1x, images/slide-{{index}}-md@2x.jpg 2x" media="(min-width: 992px)">
        <source srcset="images/slide-{{index}}-sm.jpg 1x, images/slide-{{index}}-sm@2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="images/slide-{{index}}@2x.jpg">

        <img src="images/slide-{{index}}@2x.jpg">
      </picture>
    </div>
  {{/each}}
{{/slick-slider}}

<aside class="logo-big">
  {{inline-svg "images/logo-big.svg"}}
</aside>

<a href="http://www.tulikivi.com/de" target="_blank" class="copyright">Foto: <b>Tulikivi</b></a>
