<aside class="title">
  <h1>Produkte</h1>
</aside>

<a href="#" class="mover prev-page">
  {{inline-svg "images/mover.svg"}}
</a>

<section class="inner">
  <nav class="first-page">
    {{#each model.first as |product|}}
      {{#link-to "contact" class="product"}}
        <figure>
          <img src="/images/products/{{lowercase product}}.png">
          <figcaption>{{product}}</figcaption>
        </figure>
      {{/link-to}}
    {{/each}}
  </nav>

  <nav class="second-page">
    {{#each model.second as |product|}}
      {{#link-to "contact" class="product"}}
        <figure>
          <img src="/images/products/{{lowercase product}}.png">
          <figcaption>{{product}}</figcaption>
        </figure>
      {{/link-to}}
    {{/each}}
  </nav>
</section>

<a href="#" class="mover next-page">
  {{inline-svg "images/mover.svg"}}
</a>
